<div class="full-page-section">
    <div class="section-body">
        <div class="fifty-fifty comic-neue-regular">
            <div>
                <div class="contact-section">
                    <h1 class="comic-neue-bold">Where are we?</h1>

                    <div>
                        <div class="row">
                            <div class="row-header">
                                Train Station
                            </div>
                            <div class="row-content">
                                Middlesbrough Train Station
                            </div>
                        </div>
                        <div class="row">
                            <div class="row-header">
                                Bus Stop
                            </div>
                            <div class="row-content">
                                Middlesbrough Bus Station
                            </div>
                        </div>
                        <div class="row">
                            <div class="row-header">
                                Post Code
                            </div>
                            <div class="row-content">
                                TS1 3LB
                            </div>
                        </div>
                        <div class="row" style="border-bottom: 0px;">
                            <div class="row-header">
                                Full Address
                            </div>
                            <div class="row-content">
                                Park Rd N, Middlesbrough, TS1 3LB
                            </div>
                        </div>
                    </div>

                </div>
            
                <div class="contact-section">
                    <h1 class="comic-neue-bold">Get in contact</h1>

                    <div>
                        <div class="row">
                            <div class="row-header">
                                Email Address
                            </div>
                            <div class="row-content">
                                TS1 3LB
                            </div>
                        </div>
                        <div class="row" style="border-bottom: 0px;">
                            <div class="row-header">
                                Phone Number
                            </div>
                            <div class="row-content">
                                +44 065 839 5904
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div>
                <img class="contact-us-location" src="/images/location.png" />
            </div>

        </div>
    </div>
</div>